
<div class="container pt-5">

  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @book.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= l @book.created_at, format: :long %></li>
              </ul>
              <div class='d-flex justify-content-end'>
                <%= link_to edit_book_path(@book), id: "button-edit-#{@book.id}" do %>
                <i class="bi bi-pencil-fill"></i>
              </div>
            <% end %>
              </div>
            <p><%= simple_format(@book.original_text) %></p>
          </div>
          
        </article>
        </div>
      </div>
    </div>
