<%= form_with model: @word, class: "new_word row" do |f| %>
    <div class="mb-3">
      <%= f.label :word %>
      <%= f.text_field :word, class: "form-control" %>
    </div>
    <div class="mb-3 col-18">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: "10" %>
    </div>
    <%= f.submit nil, class: "btn btn-primary" %>
  <% end %>