<h1>ログイン</h1>

<%= form_with(url: login_index_path) do |form| %>
  <div>
    <%= form.label :email, 'メールアドレス', style: "display: block" %>
    <%= form.text_field :email, value: params[:email] %>
  </div>

  <div>
    <%= form.submit 'ログイン' %>
  </div>
  <%= link_to '登録ページへ', new_user_path%>
<% end %>
